
.card {
  border: none;
  padding: 0px;
  margin: 10px 0 0 0;
}

.card-block {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

.pull-left {
  margin: 0px;
}

.card-image {
  height: 40px;
  width: 40px;
}

.card-title {
  margin-left: 60px;
}

strong {
  color: #585858;
}
