
<h1>Names Details</h1>

<div class="card" *ngIf="name">
  <div class="card-block">
    <div class="form-group">
      <label for="addName">Name</label>
      <input id="addName" type="text" class="form-control" [(ngModel)]="name.name" required />
    </div>
    <div class="form-group">
      <label for="addTags">Tags</label>
      <input id="addTags" type="text" class="form-control" [(ngModel)]="name.tags" />
      <small class="text-warning">Add multiple tags separated by comma. Example: <i>work, manager</i></small>
      <p>
        <small class="text-info">Popular Tags:</small>
      </p>
    </div>
    <div class="form-group">
      <label for="addFeatures">Features</label>
      <input id="addFeatures" type="text" class="form-control" [(ngModel)]="name.features" />
      <small class="text-warning">Add multiple features separated by comma. Example: <i>skinny, asian, glasses</i></small>
      <p>
        <small class="text-info">Popular Features:</small>
      </p>
    </div>
    <div class="form-group">
      <label for="uploadPhoto">Upload Photo</label>
      <input id="uploadPhoto" type="file" class="form-control-file" title="This Feature not Enabled" disabled>
    </div>
    <div class="form-group">
      <a href="" [routerLink]="['/Home']">
        <button class="btn btn-default">
          Cancel
        </button>
      </a>
      <span class="pull-right">&nbsp;</span>
      <button class="btn btn-danger" data-toggle="modal" data-target="#myModal" (click)="toggleModal()">
        Delete
      </button>
      <button class="btn btn-primary" (click)="updateName()">
        Save
      </button>
    </div>
  </div>
</div>

<div class="card" *ngIf='error'>
  <div class="card-block">
    <h4>Error</h4>
    <p>
      {{ error }}
    </p>
  </div>
</div>

<div *ngIf="showModal">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirmation</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this name {{ name.name }}?</p>
        </div>
        <div class="modal-footer">
          <button id="btnConfirm" type="button" class="btn btn-danger" (click)="deleteName()" data-dismiss="modal">Delete</button>
          <button id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>

</div>