@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Ereum - Remember Names</title>
  <!-- Bootstrap Core CSS -->
  <link href="~/dist/main/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="~/dist/main/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <!-- Theme CSS -->
  <link href="~/dist/main/style.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">
          <i class="fa fa-cloud"></i> EREUM
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a class="page-scroll" href="#about">About</a>
          </li>
          <li>
            <a class="page-scroll" href="#signup">Sign Up</a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
  <!-- Intro Header -->
  <header class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="brand-heading">EREUM</h1>
            <p class="intro-text">
              An app to help you remember names of people
              <br>
            </p>
            <a href="#about" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- About Section -->
  <section id="about" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>About EREUM</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec euismod magna. Curabitur finibus auctor ligula at ultricies. Nam ullamcorper, tortor a congue fermentum, velit nulla sodales nunc, in accumsan orci sem quis risus. Donec tincidunt, ex vitae molestie mollis, risus nisi pretium lorem, ut elementum urna neque ac arcu. Aliquam urna lorem, dapibus ac lobortis id, volutpat nec felis. Morbi nec laoreet lacus. Fusce quis ultricies mauris, eu lobortis ex. Integer at faucibus diam, et fermentum leo. Sed blandit dolor sit amet cursus rutrum. Sed sit amet suscipit ex. Donec sit amet ante luctus, eleifend urna at, hendrerit urna. Nunc placerat sem mauris. Nulla bibendum pulvinar arcu, in iaculis quam bibendum id. Aenean sem purus, malesuada in gravida vitae, aliquet non est. Morbi eleifend imperdiet odio sit amet tristique. Vestibulum non orci elit.
        </p>
        <p>
          Nam dignissim mi ac arcu pellentesque, sed tristique nisi aliquam. Cras pellentesque a leo a tristique. Etiam placerat quam non condimentum consectetur. Cras purus enim, eleifend vitae nisi nec, volutpat interdum lacus. Nam eros purus, mattis quis magna ut, lacinia dapibus massa. Nulla posuere feugiat purus. Pellentesque placerat tortor vitae libero gravida rhoncus. Phasellus magna ex, convallis a rhoncus tempor, gravida sed dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus accumsan tellus enim, eget facilisis libero iaculis id. Curabitur sodales, odio ut molestie aliquet, tellus diam faucibus arcu, vel congue orci augue ac tortor. Vestibulum vel velit elementum, bibendum erat id, aliquet erat.
        </p>
        <p>
          Curabitur dignissim, ligula eget dictum scelerisque, leo lorem commodo nisi, vel accumsan diam ipsum et magna. Morbi posuere consectetur nisi a tincidunt. Ut vitae tempus lacus, a tempor lacus. Curabitur consequat aliquet ligula. Aenean faucibus tincidunt volutpat. Vestibulum dapibus orci quis varius ullamcorper. Cras molestie, nulla varius placerat dignissim, odio nisl aliquam nunc, et hendrerit lorem felis quis risus. Integer commodo iaculis nunc, sit amet mattis est interdum vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas et sapien lacus. Phasellus ultricies erat non turpis varius ultricies. Phasellus at sem libero. Cras ut suscipit sapien.
        </p>
        <p>
          Maecenas id augue in dui viverra dictum. Praesent at consequat lacus, nec bibendum tortor. Nam at commodo nulla, ut sodales orci. Nullam et dui augue. Vestibulum venenatis lectus est, suscipit aliquam dui aliquet sit amet. Donec fringilla tristique mi a finibus. Duis turpis justo, faucibus euismod porttitor sit amet, maximus vel ligula. Vestibulum eget convallis quam, ut ornare metus. Donec ut purus eget lectus vestibulum imperdiet. Vestibulum consequat efficitur consectetur. Aliquam in dui purus. Mauris vel euismod erat.
        </p>
        <p>
          Sed aliquam sem lacus, nec imperdiet diam euismod ac. Fusce non ullamcorper nulla, in faucibus nunc. Sed interdum orci sed justo tristique blandit. Praesent ut ante eu sem maximus venenatis sit amet tempor lacus. Mauris porta in velit eu rhoncus. Curabitur sit amet efficitur ex, quis pulvinar risus. Sed rutrum lacus nec sagittis dapibus. Fusce pellentesque odio in metus ultricies vulputate. Maecenas feugiat ultrices libero a molestie. Nunc placerat lacinia mi nec sollicitudin. Nulla auctor, erat in lobortis rutrum, est ligula placerat erat, eu venenatis nibh velit pharetra tortor. Vestibulum iaculis mattis elit, nec vehicula nunc semper sit amet. Nulla facilisi. Vivamus eu nisl eu nisi malesuada luctus consequat eu tellus.
        </p>
      </div>
    </div>
  </section>
  <hr />
  <!-- Sign Up Section -->
  <section id="signup" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Sign Up | Sign In</h2>
        <p>EREUM is free to use. No trials, no subscriptions, 100% free. Use any of your following accounts to login and start tracking people names to remember!</p>
        <p>Are you a returning user? If so - click on the account you last logged in with to get back to your names.</p>
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="@ViewBag.Microsoft" class="btn btn-default btn-lg"><i class="fa fa-windows fa-fw"></i> <span class="network-name">Microsoft</span></a>
          </li>
          <li>
            <a href="@ViewBag.Google" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
          </li>
          <li>
            <a href="@ViewBag.Facebook" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
          </li>
          <li>
            <a href="@ViewBag.Twitter" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <hr />
  <!-- Contact Section -->
  <section id="contact" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Contact Me</h2>
        <p>Have any questions, problems or suggestions about this app? Or maybe you just want to say hello. Feel free to contact me at:</p>
        <p>
          <a href="mailto:john@solidfish.com" class="btn btn-default btn-lg"><i class="fa fa-envelope-o fa-fw"></i> john@solidfish.com</a>          
        </p>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer>
    <div class="container text-center">
      <p>John Lee &copy; 2016</p>
    </div>
  </footer>
  <!-- jQuery -->
  <script src="~/dist/main/jquery/jquery.min.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="~/dist/main/bootstrap/js/bootstrap.min.js"></script>
  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <!-- Theme JavaScript -->
  <script src="~/dist/main/script.js"></script>
</body>
</html>
