<article class="template animated slideInRight">
  <h2>About</h2>
  <table class="table table-hover">
    <tr>
      <th>Version</th>
      <td>0.1</td>
      <td>September 2016</td>
    </tr>
    <tr>
      <th>Authentication</th>
      <td>Google</td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td>Microsoft</td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td>Facebook</td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td>Twitter</td>
      <td></td>
    </tr>
  </table>
  <div id="btnLogout">
    <a href="Home/Logout">
      <button class="btn btn-warning">
        Logout
      </button>
    </a>
  </div>
</article>
