<article class="template animated slideInRight">
  <h2>About</h2>
  <p>
    EREUM is in beta phase and not officially released.
  </p>
  <table class="table table-hover">
    <tr>
      <th>Version</th>
      <td>0.1</td>
    </tr>
    <tr>
      <th>Release Date</th>
      <td>September 2016</td>
    </tr>
    <tr>
      <th>Initial Release Expected</th>
      <td>Q1 2017</td>
    </tr>
  </table>
  <div id="btnLogout">
    <a href="Home/Logout">
      <button class="btn btn-warning">
        Logout
      </button>
    </a>
  </div>
</article>
